#ajax-spinner {
    display:none;
    position:fixed;
    z-index:10000;
    background-position: center center;
    top:50%;
    left:50%;
    margin-top:-32px;
    margin-left:-32px;
}
.ajax-message {
    display:none;
    z-index:10000;
    background-color:#fff;
    min-width:400px;
    padding:10px;
    border:4px solid #aaa;
    text-align:center;
    font-size:12px;
    box-shadow:0 0 30px 5px #ccc;
    -moz-box-shadow:0 0 30px 5px #ccc;
    -webkit-box-shadow: 0 0 30px #ccc;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}
.ajax-message .close {
    cursor:pointer;
    border:1px solid #666;
    background-color:#333;
    color:#fff;
    padding:4px;
    width: 80px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}
.ajax-message .message {
    text-align:left;
    padding:5px;
    border:none;
}
.ajax-message .error {
    background:url('/++resource++bdajax/error.png') top left no-repeat;
    padding-left:37px;
    min-height:32px;
}
.ajax-message .warning {
    background:url('/++resource++bdajax/warning.png') top left no-repeat;
    padding-left:37px;
    min-height:32px;
}
.ajax-message .info {
    background:url('/++resource++bdajax/info.png') top left no-repeat;
    padding-left:37px;
    min-height:32px;
}
.ajax-overlay {
    display:none;
    z-index:5000;
    background-color:#fff;
    min-width:400px;
    border:4px solid #aaa;
    font-size:12px;
    box-shadow:0 0 30px 5px #ccc;
    -moz-box-shadow:0 0 30px 5px #ccc;
    -webkit-box-shadow: 0 0 30px #ccc;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}
.ajax-overlay .close {
    background-image:url('/++resource++bdajax/close.png');
    position:absolute;
    z-index:5001;
    right:-17px;
    top:-20px;
    cursor:pointer;
    height:35px;
    width:35px;
}
.ajax-dialog {
    display:none;
    position:absolute;
    z-index:10000;
    text-align: center;
    padding:20px;
    font-weight:bold;
    border:4px solid #aaa;
    background-color:#fff;
    width:300px;
    min-height:100px;
    box-shadow:0 0 30px 5px #ccc;
    -moz-box-shadow:0 0 30px 5px #ccc;
    -webkit-box-shadow: 0 0 30px #ccc;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}
.ajax-dialog .text {
    min-height:60px;
    font-size:16px;
}
.ajax-dialog button {
    border:#000 1px solid;
    color:#fff;
    background-color:#333;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    margin:5px;
    padding:3px;
}
@font-face {
  font-family: 'cart';
  src: url('++resource++bda.plone.cart.font/font/cart.eot?73721910');
  src: url('++resource++bda.plone.cart.font/font/cart.eot?73721910#iefix') format('embedded-opentype'), url('++resource++bda.plone.cart.font/font/cart.woff2?73721910') format('woff2'), url('++resource++bda.plone.cart.font/font/cart.woff?73721910') format('woff'), url('++resource++bda.plone.cart.font/font/cart.ttf?73721910') format('truetype'), url('++resource++bda.plone.cart.font/font/cart.svg?73721910#cart') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="cart-icon"]:before,
[class*=" cart-icon"]:before {
  font-family: "cart";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}
/* general styles */
.cart_item_alert {
  color: red;
  font-weight: normal;
}
/* cart styles */
.cart_item_content {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  padding: 0;
  text-align: right;
}
.cart_item_content input[type="text"] {
  display: inline-block;
  width: unset;
  margin-right: 0.25em;
}
.cart-icon {
  font-family: 'cart';
  font-size: 1.5em;
  line-height: 1.5em;
  vertical-align: middle;
  margin-left: 0.25em;
}
.cart-icon:hover {
  text-decoration: none;
}
a.update_cart_action:before {
  content: '\e801';
}
a.remove_from_cart_action {
  margin-left: 0;
}
a.remove_from_cart_action:before {
  content: '\e80a';
}
.cart_item_preview_image {
  float: right;
  margin-left: 1em;
}
/* cart summary styles */
.summary_item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}
.summary_item ul.cart_item_content {
  list-style-type: none !important;
  margin: 0!important;
}
.summary_item ul.cart_item_content li {
  display: inline-block !important;
}
.summary_item ul.cart_item_content li span {
  display: inline-block;
}
.summary_item a:hover {
  border: none;
  text-decoration: none;
}
#cart_summary .cart_sum_content.invisible-grid {
  width: 100%;
  text-align: right;
  margin-top: 1em;
}
#cart_summary .cart_sum_content.invisible-grid td {
  padding-left: 0.25em;
}
#cart_summary .cart_sum_content.invisible-grid td.summary_label {
  width: 95%;
}
#cart_summary .cart_sum_content.invisible-grid td.summary_ammount {
  padding-left: 1em;
}
.shipping_info {
  max-width: 400px;
  display: inline-block;
}
.cart_summary_buttons {
  text-align: right;
}
.cart_summary_buttons .cart_back {
  float: left;
}
ul#cart_items {
  list-style-type: none;
  padding: 0;
}
ul#cart_items .cart_item_preview_image {
  float: none;
  margin-left: 0;
  vertical-align: text-bottom;
}
ul#cart_items .cart_item_preview_wrapper:hover {
  text-decoration: none;
  border: none;
}
ul#cart_items h3 {
  font-size: 14px;
  margin-top: 0.5em;
}
#cart_viewlet {
  float: right;
  position: relative;
}
#portlet-cart .cart_item,
#cart_viewlet .cart_item {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 0.25em;
  margin-bottom: 0.75em;
}
#portlet-cart .cart_item_content,
#cart_viewlet .cart_item_content {
  text-align: left;
}
#portlet-cart .cart_item_content .cart_item_count,
#cart_viewlet .cart_item_content .cart_item_count {
  height: unset;
  padding: 0em 0.25em;
  text-align: right;
}
#portlet-cart .cart_item_price_wrapper,
#cart_viewlet .cart_item_price_wrapper {
  text-align: right;
}
#portlet-cart .cart_viewlet_actions,
#cart_viewlet .cart_viewlet_actions,
#portlet-cart .portletFooter,
#cart_viewlet .portletFooter {
  text-align: center;
}
#portlet-cart #cart_viewlet_summary,
#cart_viewlet #cart_viewlet_summary {
  display: block;
  padding: 0 0.5em;
}
#portlet-cart #cart_viewlet_summary a,
#cart_viewlet #cart_viewlet_summary a {
  margin-top: 5px;
  float: right;
  position: relative;
  z-index: 10;
  top: 0px;
  right: 0px;
}
#portlet-cart #cart_viewlet_details,
#cart_viewlet #cart_viewlet_details {
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
  background-color: #fff;
  padding: 1em;
  margin-top: 2em;
  border: 1px solid #e5e5e5;
  border-radius: 0.25em;
  min-width: 260px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
#portlet-cart .cart_viewlet_actions,
#cart_viewlet .cart_viewlet_actions {
  text-align: center;
}
.checkout_cart_overview .cart_item {
  margin-bottom: 1em;
}
/* cart status message */
.cart_status_message {
  display: block;
  position: absolute;
  margin-top: -6em;
  margin-right: 10em;
  z-index: 1000;
  border: #cccccc 1px solid;
  border-radius: 3px;
  background-color: #efefef;
  color: #222222;
  padding: 5px;
  font-size: 80%;
  font-weight: bold;
}
/* cart summary styles */
.summary_item {
  padding-top: 1.2em;
  padding-bottom: 0.6em;
  border-bottom: #ccc 1px solid;
}
.summary_item ul.cart_item_content {
  list-style-type: none !important;
  text-align: right;
  margin: 0!important;
}
.summary_item ul.cart_item_content li {
  display: inline !important;
  padding-left: 0.5em;
}
.summary_item .price {
  width: 7em;
  display: inline-block;
}
.summary_item input.cart_item_count,
.portletCart input.cart_item_count {
  margin-right: 0.1em;
}
.summary_item span.cart_item_quantity_unit {
  margin-right: 0.5em;
}
.summary_item a.update_cart_action,
.summary_item a.remove_from_cart_action {
  float: none;
}
.summary_wrapper {
  text-align: right;
}
.cart_sum_content {
  float: right;
}
.cart_sum_content td {
  text-align: right;
  padding-left: 1em;
}
.cart_summary_buttons {
  text-align: right;
  padding-top: 1.2em;
}
.portletCart .lastItem {
  text-align: center;
}
img.cart_item_preview_image {
  float: right;
  margin-left: 0.5em;
}
.context.cart_checkout_button:after {
  font-family: 'cart';
  content: '\e812';
  margin-left: 0.5em;
}
.standalone.cart_back:before {
  font-family: 'cart';
  content: '\e811';
  margin-right: 0.5em;
}
.context.buyable_add_to_cart:before {
  font-family: 'cart';
  content: '\e815';
  margin-right: 0.5em;
}
.context.buyable_update_cart:before {
  font-family: 'cart';
  content: '\e801';
  margin-right: 0.5em;
}
.context.go_to_cart_action:before,
#cart_viewlet_summary a:before {
  font-family: 'cart';
  content: '\e815';
  margin-right: 0.5em;
}
/*# sourceMappingURL=++resource++bda.plone.cart.css.map */
.template-checkout h2 {
  font-size: 24px;
}
.template-checkout .field input[type="text"],
.template-checkout .field input[type="email"],
.template-checkout .field select {
  width: unset;
}
.template-checkout .field input[type="radio"],
.template-checkout .field input[type="checkbox"] {
  margin-right: 0.5em;
}
.template-checkout #field-checkout-personal_data-firstname,
.template-checkout #field-checkout-personal_data-email,
.template-checkout #field-checkout-billing_address-zip,
.template-checkout #field-checkout-delivery_address-firstname,
.template-checkout #field-checkout-delivery_address-zip {
  float: left;
  margin-right: 1em;
}
.template-checkout .mode_display .checkout_cart_overview {
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  padding: 0 1.5em;
  background: #fff;
}
.template-checkout .mode_display label {
  display: none;
}
.template-checkout .mode_display .field {
  margin-bottom: 0.35em;
}
.template-checkout .mode_display #field-checkout-accept_terms_and_conditions-accept label {
  display: unset;
}
.template-checkout .mode_display ul.cart_item_content li {
  display: inline-block;
  margin-left: 1em;
}
.template-checkout .plone-modal-footer {
  display: none!important;
}
#input-checkout-checkout_back,
#input-checkout-confirm_back {
  margin-top: 1em;
}
#input-checkout-checkout_back:after,
#input-checkout-confirm_back:after {
  font-family: 'cart';
  content: '\e812';
  margin-left: 0.5em;
}
#input-checkout-next,
#input-checkout-finish {
  float: right;
  margin-top: 1em;
}
#input-checkout-next:before,
#input-checkout-finish:before {
  font-family: 'cart';
  content: '\e811';
  margin-right: 0.5em;
}
/*# sourceMappingURL=++resource++bda.plone.checkout.css.map */
.discount_form_filter {
  margin-top: 1em;
  margin-bottom: 1em;
}
.discount_form_filter select {
  margin-left: 1em;
}
#array-discount_form-discount table .error {
  background-color: transparent;
  border: none;
  margin: 0;
}
#array-discount_form-discount table .errormessage {
  padding: 0;
  color: red;
}
#array-discount_form-discount table {
  width: 100%;
}
#array-discount_form-discount table td > div,
#array-discount_form-discount table th > div {
  display: table-cell;
  vertical-align: top;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
#array-discount_form-discount div.array_actions {
  width: 90px;
}
div.form_header.kind,
div.array_field.kind,
div.form_header.block,
div.array_field.block,
div.form_header.value,
div.array_field.value,
div.form_header.threshold,
div.array_field.threshold,
div.form_header.valid_from,
div.array_field.valid_from,
div.form_header.valid_to,
div.array_field.valid_to,
div.form_header.for,
div.array_field.for {
  text-align: center;
  vertical-align: middle;
}
div.form_header.kind,
div.array_field.kind {
  width: 8%;
}
div.form_header.block,
div.array_field.block {
  width: 8%;
}
div.form_header.value,
div.array_field.value {
  width: 6%;
}
div.form_header.threshold,
div.array_field.threshold {
  width: 6%;
}
div.form_header.valid_from,
div.array_field.valid_from,
div.form_header.valid_to,
div.array_field.valid_to {
  width: 10%;
}
div.form_header.for,
div.array_field.for {
  width: 15%;
}
div.array_field.kind select {
  width: 90%;
}
div.array_field.valid_from .dateinput,
div.array_field.valid_to .dateinput {
  width: 50%;
}
div.array_field.valid_from .timeinput,
div.array_field.valid_to .timeinput {
  width: 32%;
}
.array_field.threshold,
.array_field.value {
  padding: 0 0.25em;
}
/*# sourceMappingURL=++resource++bda.plone.discount.css.map */
/*# sourceMappingURL=++resource++bda.plone.payment.css.map */
table.dataTable{width:100%;margin:0 auto;clear:both;border-collapse:separate;border-spacing:0}table.dataTable thead th,table.dataTable tfoot th{font-weight:bold}table.dataTable thead th,table.dataTable thead td{padding:10px 18px;border-bottom:1px solid #111}table.dataTable thead th:active,table.dataTable thead td:active{outline:none}table.dataTable tfoot th,table.dataTable tfoot td{padding:10px 18px 6px 18px;border-top:1px solid #111}table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc{cursor:pointer;*cursor:hand}table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled{background-repeat:no-repeat;background-position:center right}table.dataTable thead .sorting{background-image:url("../images/sort_both.png")}table.dataTable thead .sorting_asc{background-image:url("../images/sort_asc.png")}table.dataTable thead .sorting_desc{background-image:url("../images/sort_desc.png")}table.dataTable thead .sorting_asc_disabled{background-image:url("../images/sort_asc_disabled.png")}table.dataTable thead .sorting_desc_disabled{background-image:url("../images/sort_desc_disabled.png")}table.dataTable tbody tr{background-color:#ffffff}table.dataTable tbody tr.selected{background-color:#B0BED9}table.dataTable tbody th,table.dataTable tbody td{padding:8px 10px}table.dataTable.row-border tbody th,table.dataTable.row-border tbody td,table.dataTable.display tbody th,table.dataTable.display tbody td{border-top:1px solid #ddd}table.dataTable.row-border tbody tr:first-child th,table.dataTable.row-border tbody tr:first-child td,table.dataTable.display tbody tr:first-child th,table.dataTable.display tbody tr:first-child td{border-top:none}table.dataTable.cell-border tbody th,table.dataTable.cell-border tbody td{border-top:1px solid #ddd;border-right:1px solid #ddd}table.dataTable.cell-border tbody tr th:first-child,table.dataTable.cell-border tbody tr td:first-child{border-left:1px solid #ddd}table.dataTable.cell-border tbody tr:first-child th,table.dataTable.cell-border tbody tr:first-child td{border-top:none}table.dataTable.stripe tbody tr.odd,table.dataTable.display tbody tr.odd{background-color:#f9f9f9}table.dataTable.stripe tbody tr.odd.selected,table.dataTable.display tbody tr.odd.selected{background-color:#acbad4}table.dataTable.hover tbody tr:hover,table.dataTable.display tbody tr:hover{background-color:#f6f6f6}table.dataTable.hover tbody tr:hover.selected,table.dataTable.display tbody tr:hover.selected{background-color:#aab7d1}table.dataTable.order-column tbody tr>.sorting_1,table.dataTable.order-column tbody tr>.sorting_2,table.dataTable.order-column tbody tr>.sorting_3,table.dataTable.display tbody tr>.sorting_1,table.dataTable.display tbody tr>.sorting_2,table.dataTable.display tbody tr>.sorting_3{background-color:#fafafa}table.dataTable.order-column tbody tr.selected>.sorting_1,table.dataTable.order-column tbody tr.selected>.sorting_2,table.dataTable.order-column tbody tr.selected>.sorting_3,table.dataTable.display tbody tr.selected>.sorting_1,table.dataTable.display tbody tr.selected>.sorting_2,table.dataTable.display tbody tr.selected>.sorting_3{background-color:#acbad5}table.dataTable.display tbody tr.odd>.sorting_1,table.dataTable.order-column.stripe tbody tr.odd>.sorting_1{background-color:#f1f1f1}table.dataTable.display tbody tr.odd>.sorting_2,table.dataTable.order-column.stripe tbody tr.odd>.sorting_2{background-color:#f3f3f3}table.dataTable.display tbody tr.odd>.sorting_3,table.dataTable.order-column.stripe tbody tr.odd>.sorting_3{background-color:whitesmoke}table.dataTable.display tbody tr.odd.selected>.sorting_1,table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_1{background-color:#a6b4cd}table.dataTable.display tbody tr.odd.selected>.sorting_2,table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_2{background-color:#a8b5cf}table.dataTable.display tbody tr.odd.selected>.sorting_3,table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_3{background-color:#a9b7d1}table.dataTable.display tbody tr.even>.sorting_1,table.dataTable.order-column.stripe tbody tr.even>.sorting_1{background-color:#fafafa}table.dataTable.display tbody tr.even>.sorting_2,table.dataTable.order-column.stripe tbody tr.even>.sorting_2{background-color:#fcfcfc}table.dataTable.display tbody tr.even>.sorting_3,table.dataTable.order-column.stripe tbody tr.even>.sorting_3{background-color:#fefefe}table.dataTable.display tbody tr.even.selected>.sorting_1,table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_1{background-color:#acbad5}table.dataTable.display tbody tr.even.selected>.sorting_2,table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_2{background-color:#aebcd6}table.dataTable.display tbody tr.even.selected>.sorting_3,table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_3{background-color:#afbdd8}table.dataTable.display tbody tr:hover>.sorting_1,table.dataTable.order-column.hover tbody tr:hover>.sorting_1{background-color:#eaeaea}table.dataTable.display tbody tr:hover>.sorting_2,table.dataTable.order-column.hover tbody tr:hover>.sorting_2{background-color:#ececec}table.dataTable.display tbody tr:hover>.sorting_3,table.dataTable.order-column.hover tbody tr:hover>.sorting_3{background-color:#efefef}table.dataTable.display tbody tr:hover.selected>.sorting_1,table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_1{background-color:#a2aec7}table.dataTable.display tbody tr:hover.selected>.sorting_2,table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_2{background-color:#a3b0c9}table.dataTable.display tbody tr:hover.selected>.sorting_3,table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_3{background-color:#a5b2cb}table.dataTable.no-footer{border-bottom:1px solid #111}table.dataTable.nowrap th,table.dataTable.nowrap td{white-space:nowrap}table.dataTable.compact thead th,table.dataTable.compact thead td{padding:4px 17px 4px 4px}table.dataTable.compact tfoot th,table.dataTable.compact tfoot td{padding:4px}table.dataTable.compact tbody th,table.dataTable.compact tbody td{padding:4px}table.dataTable th.dt-left,table.dataTable td.dt-left{text-align:left}table.dataTable th.dt-center,table.dataTable td.dt-center,table.dataTable td.dataTables_empty{text-align:center}table.dataTable th.dt-right,table.dataTable td.dt-right{text-align:right}table.dataTable th.dt-justify,table.dataTable td.dt-justify{text-align:justify}table.dataTable th.dt-nowrap,table.dataTable td.dt-nowrap{white-space:nowrap}table.dataTable thead th.dt-head-left,table.dataTable thead td.dt-head-left,table.dataTable tfoot th.dt-head-left,table.dataTable tfoot td.dt-head-left{text-align:left}table.dataTable thead th.dt-head-center,table.dataTable thead td.dt-head-center,table.dataTable tfoot th.dt-head-center,table.dataTable tfoot td.dt-head-center{text-align:center}table.dataTable thead th.dt-head-right,table.dataTable thead td.dt-head-right,table.dataTable tfoot th.dt-head-right,table.dataTable tfoot td.dt-head-right{text-align:right}table.dataTable thead th.dt-head-justify,table.dataTable thead td.dt-head-justify,table.dataTable tfoot th.dt-head-justify,table.dataTable tfoot td.dt-head-justify{text-align:justify}table.dataTable thead th.dt-head-nowrap,table.dataTable thead td.dt-head-nowrap,table.dataTable tfoot th.dt-head-nowrap,table.dataTable tfoot td.dt-head-nowrap{white-space:nowrap}table.dataTable tbody th.dt-body-left,table.dataTable tbody td.dt-body-left{text-align:left}table.dataTable tbody th.dt-body-center,table.dataTable tbody td.dt-body-center{text-align:center}table.dataTable tbody th.dt-body-right,table.dataTable tbody td.dt-body-right{text-align:right}table.dataTable tbody th.dt-body-justify,table.dataTable tbody td.dt-body-justify{text-align:justify}table.dataTable tbody th.dt-body-nowrap,table.dataTable tbody td.dt-body-nowrap{white-space:nowrap}table.dataTable,table.dataTable th,table.dataTable td{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.dataTables_wrapper{position:relative;clear:both;*zoom:1;zoom:1}.dataTables_wrapper .dataTables_length{float:left}.dataTables_wrapper .dataTables_filter{float:right;text-align:right}.dataTables_wrapper .dataTables_filter input{margin-left:0.5em}.dataTables_wrapper .dataTables_info{clear:both;float:left;padding-top:0.755em}.dataTables_wrapper .dataTables_paginate{float:right;text-align:right;padding-top:0.25em}.dataTables_wrapper .dataTables_paginate .paginate_button{box-sizing:border-box;display:inline-block;min-width:1.5em;padding:0.5em 1em;margin-left:2px;text-align:center;text-decoration:none !important;cursor:pointer;*cursor:hand;color:#333 !important;border:1px solid transparent;border-radius:2px}.dataTables_wrapper .dataTables_paginate .paginate_button.current,.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{color:#333 !important;border:1px solid #979797;background-color:white;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));background:-webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:-moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:-ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:-o-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:linear-gradient(to bottom, #fff 0%, #dcdcdc 100%)}.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{cursor:default;color:#666 !important;border:1px solid transparent;background:transparent;box-shadow:none}.dataTables_wrapper .dataTables_paginate .paginate_button:hover{color:white !important;border:1px solid #111;background-color:#585858;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));background:-webkit-linear-gradient(top, #585858 0%, #111 100%);background:-moz-linear-gradient(top, #585858 0%, #111 100%);background:-ms-linear-gradient(top, #585858 0%, #111 100%);background:-o-linear-gradient(top, #585858 0%, #111 100%);background:linear-gradient(to bottom, #585858 0%, #111 100%)}.dataTables_wrapper .dataTables_paginate .paginate_button:active{outline:none;background-color:#2b2b2b;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));background:-webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:-moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:-ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:-o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);box-shadow:inset 0 0 3px #111}.dataTables_wrapper .dataTables_paginate .ellipsis{padding:0 1em}.dataTables_wrapper .dataTables_processing{position:absolute;top:50%;left:50%;width:100%;height:40px;margin-left:-50%;margin-top:-25px;padding-top:20px;text-align:center;font-size:1.2em;background-color:white;background:-webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)));background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);background:-moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);background:-ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);background:-o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);background:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%)}.dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter,.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_processing,.dataTables_wrapper .dataTables_paginate{color:#333}.dataTables_wrapper .dataTables_scroll{clear:both}.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody{*margin-top:-1px;-webkit-overflow-scrolling:touch}.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td{vertical-align:middle}.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th>div.dataTables_sizing,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td>div.dataTables_sizing{height:0;overflow:hidden;margin:0 !important;padding:0 !important}.dataTables_wrapper.no-footer .dataTables_scrollBody{border-bottom:1px solid #111}.dataTables_wrapper.no-footer div.dataTables_scrollHead table,.dataTables_wrapper.no-footer div.dataTables_scrollBody table{border-bottom:none}.dataTables_wrapper:after{visibility:hidden;display:block;content:"";clear:both;height:0}@media screen and (max-width: 767px){.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_paginate{float:none;text-align:center}.dataTables_wrapper .dataTables_paginate{margin-top:0.5em}}@media screen and (max-width: 640px){.dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{float:none;text-align:center}.dataTables_wrapper .dataTables_filter{margin-top:0.5em}}

#exposeMask {
  z-index: 0 !important;
  /* render exposeMask BEHIND the overlay */
}
/* dropdown menu */
.dropdown {
  padding: 0;
  margin: 0;
  position: relative;
}
.dropdown_items {
  display: none;
  position: absolute;
  left: 0;
  margin-left: 0 !important;
  margin-top: 3px;
  padding: 6px 3px 3px 3px;
  z-index: 10000;
  width: 200px;
  list-style-type: none !important;
  list-style-image: none !important;
  border: #ccc 4px solid;
  background-color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
.dropdown_items li {
  margin: 0;
  padding-left: 5px;
}
.dropdown_items li a {
  text-decoration: none;
  border: none !important;
  padding-left: 3px;
  padding-bottom: 2px;
  line-height: 16px;
}
.dropdown_header {
  cursor: pointer;
}
/* orders filter and bookings filter */
#orders_wrapper .filter,
#bookings_wrapper .filter {
  padding: 0.3em;
}
#orders_wrapper .filter:before,
#bookings_wrapper .filter:before,
#orders_wrapper .filter:after,
#bookings_wrapper .filter:after {
  content: " ";
  display: table;
}
#orders_wrapper .filter:after,
#bookings_wrapper .filter:after {
  clear: both;
}
#orders_wrapper .filter > div,
#bookings_wrapper .filter > div {
  float: left;
  margin-right: 1em;
}
#orders_wrapper .filter label,
#bookings_wrapper .filter label {
  margin-right: 0.5em;
  padding-top: 3px;
  display: inline-block;
}
#orders_wrapper .filter select,
#bookings_wrapper .filter select {
  margin-right: 0.5em;
  width: unset;
  display: unset;
}
/* orders */
#bdaploneorders_wrapper {
  margin-top: 1em;
  margin-bottom: 2.2em;
}
#bdaploneorders_length {
  margin-bottom: 0.8em;
}
#bdaploneorders_length select,
#bdaploneorders_filter input {
  font-size: 90%;
  width: unset;
  display: unset;
}
#bdaploneorders_filter {
  margin-top: 0.25em;
}
#bdaploneorders {
  margin-bottom: 1em;
  border: #ddd 1px solid;
}
#bdaploneorders thead {
  background-color: #fafafa;
}
#bdaploneorders th {
  border-right: #ddd 1px solid;
  border-bottom: #ddd 1px solid;
}
#bdaploneorders th.datarow-actions {
  width: 120px;
}
#bdaploneorders td {
  padding: 1px 3px 1px 10px;
  border-right: #ddd 1px solid;
}
#bdaploneorders a.contenttype-document {
  border: none !important;
}
#bdaploneorders_paginate a:hover {
  color: #fff !important;
}
input.select_all_orders,
input.select_order {
  position: relative;
  top: 2px;
}
a.notify_customers {
  border-bottom: none !important;
  display: inline-block;
  line-height: 16px;
  padding-left: 20px !important;
  background: url('++resource++bda.plone.orders/notify_customers.png') 4px 0px no-repeat;
}
/* orders filter */
#form-ordersfilter label {
  margin-right: 0.5em;
}
#form-ordersfilter select,
#form-ordersfilter input {
  margin-right: 1em;
}
/* bookings */
#bdaplonebookings_wrapper {
  margin-top: 1em;
  margin-bottom: 2.2em;
}
#bdaplonebookings_length {
  margin-bottom: 0.8em;
}
#bdaplonebookings_length select,
#bdaplonebookings_filter input {
  font-size: 90%;
}
#bdaplonebookings {
  margin-bottom: 1em;
  border: #ddd 1px solid;
}
#bdaplonebookings_wrapper div.group_filter {
  margin-left: 3em;
}
#bdaplonebookings_wrapper div.group_filter,
#bdaplonebookings_wrapper div.date_from_filter,
#bdaplonebookings_wrapper div.date_to_filter {
  float: left;
  margin-right: 3em;
}
#bdaplonebookings thead {
  background-color: #fafafa;
}
#bdaplonebookings th {
  border-right: #ddd 1px solid;
  border-bottom: #ddd 1px solid;
}
#bdaplonebookings th.datarow-actions {
  width: 120px;
}
#bdaplonebookings tr.group_email,
#bdaplonebookings tr.group_email:hover,
#bdaplonebookings tr.group_buyable,
#bdaplonebookings tr.group_buyable:hover {
  background-color: #ddd !important;
}
#bdaplonebookings tr.group_email td p,
#bdaplonebookings tr.group_buyable td p {
  margin-bottom: 0;
  float: left;
  min-width: 18em;
  width: 18em;
}
#bdaplonebookings tr.group_email span,
#bdaplonebookings tr.group_buyable span {
  min-width: 18em;
  width: 18em;
  float: left;
  margin-left: 7em;
}
#bdaplonebookings td {
  padding: 1px 3px 1px 10px;
  border-right: #ddd 1px solid;
}
#bdaplonebookings a.contenttype-document {
  border: none !important;
}
#bdaplonebookings_paginate a:hover {
  color: #fff !important;
}
/* end rules for new bookingstable */
/* export form */
#field-exportorders-from,
#field-exportorders-to {
  margin: 0.4em;
}
/* mail templates */
#array-notify_customers-array table {
  width: 100%;
}
/* notification form */
#form-notify_customers {
  margin: 2em;
}
/* order state colors */
.state-value-reserved {
  color: #00b400;
}
.state-value-new {
  color: #ffcc00;
}
.state-value-finished {
  color: #1600e5;
}
.state-value-cancelled {
  color: #e50000;
}
/* order salaried colors */
.salaried-value-yes {
  color: #1600e5;
}
.salaried-value-no {
  color: #ffcc00;
}
.salaried-value-failed {
  color: #e50000;
}
/* order */
.order_details {
  padding: 1.2em;
}
.order_details .qr_code {
  position: absolute;
  right: 1em;
  top: 1em;
}
.order_details_row {
  display: table-row;
}
.order_details_row div {
  display: table-cell;
  width: 380px;
  padding: 0.4em;
}
.booking_comment_edit,
.booking_comment_spinner {
  display: none;
}
.order_bookings {
  padding: 0 0.4em 0.4em 0.4em;
}
.order_bookings h3 {
  margin-top: 0.8em;
  margin-bottom: 0.3em;
}
.order_bookings table {
  width: 100%;
  border: #ddd 1px solid;
  border-spacing: 0;
  border-collapse: collapse;
}
.order_bookings table th {
  padding: 5px 3px 5px 1em;
  text-align: left;
  background-color: #fafafa;
  border-right: #ddd 1px solid;
  border-bottom: #ddd 1px solid;
  font-weight: bold;
}
.order_bookings table td {
  padding: 5px 3px 5px 1em;
  border-right: #ddd 1px solid;
}
.order_bookings tr.odd td {
  background-color: #fbfbfb;
}
.order.wrapper form {
  display: table;
  border-spacing: 1em;
}
.order.wrapper form > div {
  display: table-row;
}
.order.wrapper form label {
  display: table-cell;
}
.order.wrapper form div.error,
.order.wrapper form input {
  display: table-cell;
}
.order.wrapper form div.submit label {
  color: transparent;
}
.order.wrapper form div.submit input {
  float: right;
}
/* print styles */
@media print {
  /* rules for bookingstable  print preview */
  #bookings_wrapper .customfilter label,
  #bookings_wrapper #bdaplonebookings_filter label,
  #bookings_wrapper #bdaplonebookings_length label {
    font-weight: bold;
  }
  #bookings_wrapper .customfilter input,
  #bookings_wrapper #bdaplonebookings_filter input,
  #bookings_wrapper #bdaplonebookings_length select,
  #bookings_wrapper .group_filter select {
    border: none;
    background: transparent;
    margin-left: 3em;
  }
  #bdaplonebookings_wrapper {
    margin-top: 1em;
    margin-bottom: 2.2em;
  }
  #bdaplonebookings_length {
    margin-bottom: 0.8em;
  }
  #bdaplonebookings_length select,
  #bdaplonebookings_filter input {
    font-size: 90%;
  }
  #bdaplonebookings {
    margin-bottom: 1em;
    border: #ddd 1px solid;
  }
  #bdaplonebookings_wrapper div.group_filter {
    margin-left: 3em;
  }
  #bdaplonebookings_wrapper div.group_filter,
  #bdaplonebookings_wrapper div.date_from_filter,
  #bdaplonebookings_wrapper div.date_to_filter {
    float: left;
    margin-right: 3em;
  }
  #bdaplonebookings thead {
    background-color: #fafafa;
  }
  #bdaplonebookings th {
    border-right: #ddd 1px solid;
    border-bottom: #ddd 1px solid;
  }
  #bdaplonebookings th.datarow-actions {
    width: 120px;
  }
  #bdaplonebookings tr.group_email,
  #bdaplonebookings tr.group_buyable {
    background-color: #ddd !important;
  }
  #bdaplonebookings tr.group_email td p,
  #bdaplonebookings tr.group_buyable td p {
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    min-width: 18em;
    width: 18em;
  }
  #bdaplonebookings tr.group_email span,
  #bdaplonebookings tr.group_buyable span {
    min-width: 18em;
    width: 18em;
    float: left;
    margin-left: 7em;
  }
  #bdaplonebookings td {
    padding: 1px 3px 1px 10px;
    border-right: #ddd 1px solid;
  }
  #bdaplonebookings a.contenttype-document {
    border: none !important;
  }
  #bdaplonebookings_paginate {
    display: none;
  }
}
/*# sourceMappingURL=++resource++bda.plone.orders.css.map */
.buyable.viewlet {
  clear: both;
  margin: 1em 0 2em 0;
}
.buyable.viewlet dl.details {
  display: inline-block;
}
.buyable.viewlet dl.details dt,
.buyable.viewlet dl.details dd {
  display: inline-block;
  vertical-align: middle;
}
.buyable.viewlet dl.details dt {
  margin-right: 0.25em;
}
.buyable.viewlet dl.details dd {
  margin-right: 1em;
}
.buyable.viewlet div.availability {
  position: relative;
  vertical-align: middle;
}
.buyable.viewlet div.availability_details {
  z-index: 1000;
  position: absolute;
  top: 2em;
  margin-left: -0.5em;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  padding: 1em;
  min-width: 14em;
  display: none;
}
.buyable.viewlet div.availability_details p {
  margin-bottom: 0;
}
.buyable.viewlet div.signal {
  vertical-align: sub;
  border: #ccc 1px solid;
  border-radius: 4px;
  width: 1em;
  height: 1em;
  display: inline-block;
}
.buyable.viewlet div.signal.red {
  background-color: red;
}
.buyable.viewlet div.signal.orange {
  background-color: orange;
}
.buyable.viewlet div.signal.yellow {
  background-color: yellow;
}
.buyable.viewlet div.signal.green {
  background-color: green;
}
.buyable.viewlet dd.price.original {
  color:#ae0000;
  text-decoration:line-through;
  padding-right:0.2em;
}

.portletShopAdmin .portletContent ul {
  padding-top: 0.5em!important;
  padding-bottom: 1em!important;
}
.portletShopAdmin .portletContent ul li a {
  padding: 0.5em 1em 0em 2em!important;
  border: 0!important;
}
#formfield-form-widgets-IBuyablePeriodBehavior-buyable_effective select,
#formfield-form-widgets-IBuyablePeriodBehavior-buyable_expires select,
#formfield-form-widgets-IBuyableBehavior-item_vat select,
#formfield-form-widgets-IBuyableBehavior-item_quantity_unit select {
  display: inline-block;
  width: unset;
}
#shop_toolbar_menu .actionSeparator {
  border-top: 1px solid rgba(255, 255, 255, 0.17);
}
#shop_toolbar_menu .actionSeparator > span {
  color: #ccc;
  font-weight: 400;
}
/*# sourceMappingURL=++resource++bda.plone.shop.css.map */
/* variant aspects */
div.variant_aspects {
    border-top:#ccc 1px solid;
    border-bottom:#ccc 1px solid;
    padding-top:1em;
    margin-top:1em;
    padding-bottom:1em;
    margin-bottom:1em;
}
div.variant_aspects div.aspect {
    display:inline;
    position:relative;
    margin-left:0.3em;
    margin-right:0.3em;
}
div.variant_aspects div.aspect strong {
    position:relative;
    top:3px;
}
div.variant_aspects div.invalid_aspects {
    color:#ff0000;
    padding:0.3em 0.3em 0 0.3em;
}
div.variant_aspects div.invalid_aspects a:link,
div.variant_aspects div.invalid_aspects a:visited,
div.variant_aspects div.invalid_aspects a:hover {
    color:#ff0000 !important;
}
div.productgroup_listing_aspects div.variant_aspects {
    padding-bottom:0;
    margin-bottom:0;
    border-bottom:none;
}

/* tiles */
div.product_tiles {
    display:table;
    width:100%;
}
div.product_tiles_row {
    display:table-row;
}
div.product_tiles_column {
    display:table-cell;
    width:25%;
}
div.product_tile {
    border:#ccc 1px solid;
    margin:1px;
    position:relative;
}
div.product_tile:hover {
    opacity:0.8;
}
div.product_tile_title {
    position:absolute;
    top:0;
    width:100%;
    height:22%;
    display:table;
    background-color:rgba(0, 0, 0, 0.25);
}
div.product_tile_title h3 {
    padding:0 1em 0 1em;
    color:#fff;
    display:table-cell;
    vertical-align:middle;
    font-size:1em;
}
div.product_tile_description {
    position:absolute;
    bottom:0;
    width:100%;
    height:22%;
    color:#fff;
    display:table;
    background-color:rgba(0, 0, 0, 0.25);
}
div.product_tile_description p {
    margin:0;
    padding:0 1em 0 1em;
    color:#fff;
    display:table-cell;
    vertical-align:middle;
    font-size:1em;
}
div.overlay_buyable_controls {
    display:none;
    z-index:100;
    position:absolute;
    background-color:#fff;
    border:#333 1px solid;
    box-shadow:0px 0px 3px #333;
    min-width:150px;
    max-width:300px;
    min-height:200px;
}
div.overlay_buyable_controls div.buyable {
    margin-top:1em;
    margin-bottom:1em;
    margin-left:1em;
    margin-right:1em;
    text-align:left;
}
div.overlay_buyable_controls div.availability {
    display:block;
    float:none;
    margin-top:0.2em;
    margin-bottom:1em;
    position:relative;
}
div.overlay_buyable_controls div.availability_details {
    min-width:0;
    display:block !important;
    position:static;
    padding:0;
    margin-top:0.8em;
    border:none;
    box-shadow:none;
}
div.overlay_buyable_controls div.buyable dl.details {
    border-top:#ccc 1px solid;
    padding-top:0.8em;
    margin-bottom:0;
    display:block;
}
div.overlay_buyable_controls div.buyable dl.details dt {
    margin-left:0;
}
div.overlay_buyable_controls div.buyable dl.details dt,
div.overlay_buyable_controls div.buyable dl.details dd {
    display:block;
}
div.overlay_buyable_controls div.buyable dd.price.discount {
    font-size:110%;
}
div.overlay_buyable_controls a.buyable_add_to_cart:link,
div.overlay_buyable_controls a.buyable_add_to_cart:active,
div.overlay_buyable_controls a.buyable_add_to_cart:hover,
div.overlay_buyable_controls a.buyable_add_to_cart:visited,
div.overlay_buyable_controls a.buyable_update_cart:link,
div.overlay_buyable_controls a.buyable_update_cart:active,
div.overlay_buyable_controls a.buyable_update_cart:hover,
div.overlay_buyable_controls a.buyable_update_cart:visited {
    margin-left:0;
}

/* listing */
div.no_products {
    margin-top:1em;
    padding-top:1em;
    border-top:#cccccc 1px solid;
}
div.no_products strong {
    font-size:1.4em;
}
div.product {
    margin-top:1em;
    padding-top:1em;
    border-top:#cccccc 1px solid;
}
img.product_listing_image {
    margin:0 auto;
    float:left;
    margin-bottom:1em;
}
div.product_info {
    margin-left:128px;
    padding:0 0 0 20px;
}

/* product */
img.product_image {
    margin:0 auto;
    float:left;
    margin-bottom:1em;
    cursor:pointer;
}
#portal-columns div.shopview_panes {
    padding:20px;
    border-top:1px solid #cccccc;
    margin-left:200px;
}
#portal-columns ul.shopview_tabs {
    margin-bottom:0;
}
#portal-columns ul.shopview_tabs li {
    list-style-image:none;
    list-style-type:none;
    display:inline-block;
    margin:0 0 0 3px;
}
#portal-columns ul.shopview_tabs li.first {
    margin:0 0 0 20px;
}
#portal-columns ul.shopview_tabs li a {
    padding:6px 15px;
    display:block;
    color:#333;
    background:#EEE;
    border:1px solid #cccccc;
    margin:5px 0 -1px 0;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}
#portal-columns ul.shopview_tabs li a:hover {
    background:#DDD;
}
#portal-columns ul.shopview_tabs li a.current {
    font-weight:bold;
    background:#FFF;
    border-bottom:1px solid #ffffff;
    margin-top:0;
    padding-top:12px;
}
#portal-columns div.product_description {
    margin-bottom:1em;
}

/* variant */
.variant_view .documentDescription {
    padding-bottom:20px;
}

/* batch */
div.batch {
    margin-top:1em;
    padding-top:1em;
    border-top:#cccccc 1px solid;
}
div.batch a.page {
    border:#cccccc 1px solid;
    display:inline-block;
    padding:0.25em 0.5em;
}
div.batch a.page:hover {
    background-color:#cccccc;
}
div.batch a.page.current {
    border:#ffffff 1px solid !important;
    color:#333333 !important;
    font-weight:bold;
}
div.batch a.current:hover {
    background-color:transparent;
}
div.batch a.page.invisible {
    display:none;
}

/*# sourceMappingURL=shop-bundle.css.map */
