#ajax-spinner {
    display:none;
    position:fixed;
    z-index:10000;
    background-position: center center;
    top:50%;
    left:50%;
    margin-top:-32px;
    margin-left:-32px;
}
.ajax-message {
    display:none;
    z-index:10000;
    background-color:#fff;
    min-width:400px;
    padding:10px;
    border:4px solid #aaa;
    text-align:center;
    font-size:12px;
    box-shadow:0 0 30px 5px #ccc;
    -moz-box-shadow:0 0 30px 5px #ccc;
    -webkit-box-shadow: 0 0 30px #ccc;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}
.ajax-message .close {
    cursor:pointer;
    border:1px solid #666;
    background-color:#333;
    color:#fff;
    padding:4px;
    width: 80px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}
.ajax-message .message {
    text-align:left;
    padding:5px;
    border:none;
}
.ajax-message .error {
    background:url('/++resource++bdajax/error.png') top left no-repeat;
    padding-left:37px;
    min-height:32px;
}
.ajax-message .warning {
    background:url('/++resource++bdajax/warning.png') top left no-repeat;
    padding-left:37px;
    min-height:32px;
}
.ajax-message .info {
    background:url('/++resource++bdajax/info.png') top left no-repeat;
    padding-left:37px;
    min-height:32px;
}
.ajax-overlay {
    display:none;
    z-index:5000;
    background-color:#fff;
    min-width:400px;
    border:4px solid #aaa;
    font-size:12px;
    box-shadow:0 0 30px 5px #ccc;
    -moz-box-shadow:0 0 30px 5px #ccc;
    -webkit-box-shadow: 0 0 30px #ccc;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}
.ajax-overlay .close {
    background-image:url('/++resource++bdajax/close.png');
    position:absolute;
    z-index:5001;
    right:-17px;
    top:-20px;
    cursor:pointer;
    height:35px;
    width:35px;
}
.ajax-dialog {
    display:none;
    position:absolute;
    z-index:10000;
    text-align: center;
    padding:20px;
    font-weight:bold;
    border:4px solid #aaa;
    background-color:#fff;
    width:300px;
    min-height:100px;
    box-shadow:0 0 30px 5px #ccc;
    -moz-box-shadow:0 0 30px 5px #ccc;
    -webkit-box-shadow: 0 0 30px #ccc;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}
.ajax-dialog .text {
    min-height:60px;
    font-size:16px;
}
.ajax-dialog button {
    border:#000 1px solid;
    color:#fff;
    background-color:#333;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    margin:5px;
    padding:3px;
}
@font-face {
  font-family: 'cart';
  src: url('++resource++bda.plone.cart.font/font/cart.eot?73721910');
  src: url('++resource++bda.plone.cart.font/font/cart.eot?73721910#iefix') format('embedded-opentype'), url('++resource++bda.plone.cart.font/font/cart.woff2?73721910') format('woff2'), url('++resource++bda.plone.cart.font/font/cart.woff?73721910') format('woff'), url('++resource++bda.plone.cart.font/font/cart.ttf?73721910') format('truetype'), url('++resource++bda.plone.cart.font/font/cart.svg?73721910#cart') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="cart-icon"]:before,
[class*=" cart-icon"]:before {
  font-family: "cart";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}
/* general styles */
.cart_item_alert {
  color: red;
  font-weight: normal;
}
/* cart styles */
.cart_item_content {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  padding: 0;
  text-align: right;
}
.cart_item_content input[type="text"] {
  display: inline-block;
  width: unset;
  margin-right: 0.25em;
}
.cart-icon {
  font-family: 'cart';
  font-size: 1.5em;
  line-height: 1.5em;
  vertical-align: middle;
  margin-left: 0.25em;
}
.cart-icon:hover {
  text-decoration: none;
}
a.update_cart_action:before {
  font-family: 'cart';
  content: '\e801';
}
a.remove_from_cart_action {
  margin-left: 0;
}
a.remove_from_cart_action:before {
  font-family: 'cart';
  content: '\e80a';
}
.cart_item_preview_image {
  float: right;
  margin-left: 1em;
}
/* cart summary styles */
.summary_item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}
.summary_item ul.cart_item_content {
  list-style-type: none !important;
  margin: 0!important;
}
.summary_item ul.cart_item_content li {
  display: inline-block !important;
}
.summary_item ul.cart_item_content li span {
  display: inline-block;
}
.summary_item a:hover {
  border: none;
  text-decoration: none;
}
#cart_summary .cart_sum_content.invisible-grid {
  width: 100%;
  text-align: right;
  margin-top: 1em;
}
#cart_summary .cart_sum_content.invisible-grid td {
  padding-left: 0.25em;
}
#cart_summary .cart_sum_content.invisible-grid td.summary_label {
  width: 95%;
}
#cart_summary .cart_sum_content.invisible-grid td.summary_ammount {
  padding-left: 1em;
}
.shipping_info {
  max-width: 400px;
  display: inline-block;
}
.cart_summary_buttons {
  text-align: right;
}
.cart_summary_buttons .cart_back {
  float: left;
}
ul#cart_items {
  list-style-type: none;
  padding: 0;
}
ul#cart_items .cart_item_preview_image {
  float: none;
  margin-left: 0;
  vertical-align: text-bottom;
}
ul#cart_items .cart_item_preview_wrapper:hover {
  text-decoration: none;
  border: none;
}
ul#cart_items h3 {
  font-size: 14px;
  margin-top: 0.5em;
}
#portlet-cart .cart_item,
#cart-viewlet .cart_item {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 0.25em;
  margin-bottom: 0.75em;
}
#portlet-cart .cart_item_content,
#cart-viewlet .cart_item_content {
  text-align: left;
}
#portlet-cart .cart_item_content .cart_item_count,
#cart-viewlet .cart_item_content .cart_item_count {
  height: unset;
  padding: 0em 0.25em;
  text-align: right;
}
#portlet-cart .cart_item_price_wrapper,
#cart-viewlet .cart_item_price_wrapper {
  text-align: right;
}
#portlet-cart .cart_viewlet_actions,
#cart-viewlet .cart_viewlet_actions,
#portlet-cart .portletFooter,
#cart-viewlet .portletFooter {
  text-align: center;
}
.context.cart_checkout_button:after {
  font-family: 'cart';
  content: '\e812';
  margin-left: 0.5em;
}
.standalone.cart_back:before {
  font-family: 'cart';
  content: '\e811';
  margin-right: 0.5em;
}
.context.buyable_add_to_cart:before {
  font-family: 'cart';
  content: '\e815';
  margin-right: 0.5em;
}
.context.buyable_update_cart:before {
  font-family: 'cart';
  content: '\e801';
  margin-right: 0.5em;
}
.context.go_to_cart_action:before {
  font-family: 'cart';
  content: '\e815';
  margin-right: 0.5em;
}
/*# sourceMappingURL=++resource++bda.plone.cart.css.map */
.template-checkout h2 {
  font-size: 24px;
}
.template-checkout .field input[type="text"],
.template-checkout .field input[type="email"],
.template-checkout .field select {
  width: unset;
}
.template-checkout .field input[type="radio"],
.template-checkout .field input[type="checkbox"] {
  margin-right: 0.5em;
}
.template-checkout #field-checkout-personal_data-firstname,
.template-checkout #field-checkout-personal_data-email,
.template-checkout #field-checkout-billing_address-zip,
.template-checkout #field-checkout-delivery_address-firstname,
.template-checkout #field-checkout-delivery_address-zip {
  float: left;
  margin-right: 1em;
}
.template-checkout .mode_display .checkout_cart_overview {
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  padding: 0 1.5em;
  background: #fff;
}
.template-checkout .mode_display label {
  display: none;
}
.template-checkout .mode_display .field {
  margin-bottom: 0.35em;
}
.template-checkout .mode_display #field-checkout-accept_terms_and_conditions-accept label {
  display: unset;
}
.template-checkout .mode_display ul.cart_item_content li {
  display: inline-block;
  margin-left: 1em;
}
#input-checkout-checkout_back,
#input-checkout-confirm_back {
  margin-top: 1em;
}
#input-checkout-checkout_back:after,
#input-checkout-confirm_back:after {
  font-family: 'cart';
  content: '\e812';
  margin-left: 0.5em;
}
#input-checkout-next,
#input-checkout-finish {
  float: right;
  margin-top: 1em;
}
#input-checkout-next:before,
#input-checkout-finish:before {
  font-family: 'cart';
  content: '\e811';
  margin-right: 0.5em;
}
/*# sourceMappingURL=++resource++bda.plone.checkout.css.map */
.discount_form_filter {
  margin-top: 1em;
  margin-bottom: 1em;
}
.discount_form_filter select {
  margin-left: 1em;
}
#array-discount_form-discount table .error {
  background-color: transparent;
  border: none;
  margin: 0;
}
#array-discount_form-discount table .errormessage {
  padding: 0;
}
#array-discount_form-discount table {
  width: 100%;
}
#array-discount_form-discount table td > div,
#array-discount_form-discount table th > div {
  display: table-cell;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
#array-discount_form-discount div.array_actions {
  width: 90px;
}
div.form_header.kind,
div.array_field.kind,
div.form_header.block,
div.array_field.block,
div.form_header.value,
div.array_field.value,
div.form_header.threshold,
div.array_field.threshold,
div.form_header.valid_from,
div.array_field.valid_from,
div.form_header.valid_to,
div.array_field.valid_to,
div.form_header.for,
div.array_field.for {
  text-align: center;
  vertical-align: middle;
}
div.form_header.kind,
div.array_field.kind {
  width: 8%;
}
div.form_header.block,
div.array_field.block {
  width: 8%;
}
div.form_header.value,
div.array_field.value {
  width: 6%;
}
div.form_header.threshold,
div.array_field.threshold {
  width: 6%;
}
div.form_header.valid_from,
div.array_field.valid_from,
div.form_header.valid_to,
div.array_field.valid_to {
  width: 10%;
}
div.form_header.for,
div.array_field.for {
  width: 15%;
}
div.array_field.kind select {
  width: 90%;
}
div.array_field.value input,
div.array_field.threshold input {
  width: 90%;
}
div.array_field.valid_from .datepicker,
div.array_field.valid_to .datepicker {
  width: 50%;
}
div.array_field.valid_from .timepicker,
div.array_field.valid_to .timepicker {
  width: 32%;
}
.array_field.threshold,
.array_field.value {
  padding: 0 0.25em;
}
/*# sourceMappingURL=++resource++bda.plone.discount.css.map */
/*# sourceMappingURL=++resource++bda.plone.payment.css.map */
#exposeMask {
  z-index: 0 !important;
  /* render exposeMask BEHIND the overlay */
}
/* dropdown menu */
.dropdown {
  padding: 0;
  margin: 0;
  position: relative;
}
.dropdown_items {
  display: none;
  position: absolute;
  left: 0;
  margin-left: 0 !important;
  margin-top: 3px;
  padding: 6px 3px 3px 3px;
  z-index: 10000;
  width: 200px;
  list-style-type: none !important;
  list-style-image: none !important;
  border: #ccc 4px solid;
  background-color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
.dropdown_items li {
  margin: 0;
  padding-left: 5px;
}
.dropdown_items li a {
  text-decoration: none;
  border: none !important;
  padding-left: 3px;
  padding-bottom: 2px;
  line-height: 16px;
}
.dropdown_header {
  cursor: pointer;
}
/* orders filter and bookings filter */
#orders_wrapper .filter,
#bookings_wrapper .filter {
  padding: 0.3em;
}
#orders_wrapper .filter:before,
#bookings_wrapper .filter:before,
#orders_wrapper .filter:after,
#bookings_wrapper .filter:after {
  content: " ";
  display: table;
}
#orders_wrapper .filter:after,
#bookings_wrapper .filter:after {
  clear: both;
}
#orders_wrapper .filter > div,
#bookings_wrapper .filter > div {
  float: left;
  margin-right: 1em;
}
#orders_wrapper .filter label,
#bookings_wrapper .filter label {
  margin-right: 0.5em;
  padding-top: 3px;
  display: inline-block;
}
#orders_wrapper .filter select,
#bookings_wrapper .filter select {
  margin-right: 0.5em;
  width: unset;
  display: unset;
}
/* orders */
#bdaploneorders_wrapper {
  margin-top: 1em;
  margin-bottom: 2.2em;
}
#bdaploneorders_length {
  margin-bottom: 0.8em;
}
#bdaploneorders_length select,
#bdaploneorders_filter input {
  font-size: 90%;
  width: unset;
  display: unset;
}
#bdaploneorders_filter {
  margin-top: 0.25em;
}
#bdaploneorders {
  margin-bottom: 1em;
  border: #ddd 1px solid;
}
#bdaploneorders thead {
  background-color: #fafafa;
}
#bdaploneorders th {
  border-right: #ddd 1px solid;
  border-bottom: #ddd 1px solid;
}
#bdaploneorders th.datarow-actions {
  width: 120px;
}
#bdaploneorders td {
  padding: 1px 3px 1px 10px;
  border-right: #ddd 1px solid;
}
#bdaploneorders a.contenttype-document {
  border: none !important;
}
#bdaploneorders_paginate a:hover {
  color: #fff !important;
}
input.select_all_orders,
input.select_order {
  position: relative;
  top: 2px;
}
a.notify_customers {
  border-bottom: none !important;
  display: inline-block;
  line-height: 16px;
  padding-left: 20px !important;
  background: url('++resource++bda.plone.orders/notify_customers.png') 4px 0px no-repeat;
}
/* orders filter */
#form-ordersfilter label {
  margin-right: 0.5em;
}
#form-ordersfilter select,
#form-ordersfilter input {
  margin-right: 1em;
}
/* bookings */
#bdaplonebookings_wrapper {
  margin-top: 1em;
  margin-bottom: 2.2em;
}
#bdaplonebookings_length {
  margin-bottom: 0.8em;
}
#bdaplonebookings_length select,
#bdaplonebookings_filter input {
  font-size: 90%;
}
#bdaplonebookings {
  margin-bottom: 1em;
  border: #ddd 1px solid;
}
#bdaplonebookings_wrapper div.group_filter {
  margin-left: 3em;
}
#bdaplonebookings_wrapper div.group_filter,
#bdaplonebookings_wrapper div.date_from_filter,
#bdaplonebookings_wrapper div.date_to_filter {
  float: left;
  margin-right: 3em;
}
#bdaplonebookings thead {
  background-color: #fafafa;
}
#bdaplonebookings th {
  border-right: #ddd 1px solid;
  border-bottom: #ddd 1px solid;
}
#bdaplonebookings th.datarow-actions {
  width: 120px;
}
#bdaplonebookings tr.group_email,
#bdaplonebookings tr.group_email:hover,
#bdaplonebookings tr.group_buyable,
#bdaplonebookings tr.group_buyable:hover {
  background-color: #ddd !important;
}
#bdaplonebookings tr.group_email td p,
#bdaplonebookings tr.group_buyable td p {
  margin-bottom: 0;
  float: left;
  min-width: 18em;
  width: 18em;
}
#bdaplonebookings tr.group_email span,
#bdaplonebookings tr.group_buyable span {
  min-width: 18em;
  width: 18em;
  float: left;
  margin-left: 7em;
}
#bdaplonebookings td {
  padding: 1px 3px 1px 10px;
  border-right: #ddd 1px solid;
}
#bdaplonebookings a.contenttype-document {
  border: none !important;
}
#bdaplonebookings_paginate a:hover {
  color: #fff !important;
}
/* end rules for new bookingstable */
/* export form */
#field-exportorders-from,
#field-exportorders-to {
  margin: 0.4em;
}
/* mail templates */
#array-notify_customers-array table {
  width: 100%;
}
/* notification form */
#form-notify_customers {
  margin: 2em;
}
/* order state colors */
.state-value-reserved {
  color: #00b400;
}
.state-value-new {
  color: #ffcc00;
}
.state-value-finished {
  color: #1600e5;
}
.state-value-cancelled {
  color: #e50000;
}
/* order salaried colors */
.salaried-value-yes {
  color: #1600e5;
}
.salaried-value-no {
  color: #ffcc00;
}
.salaried-value-failed {
  color: #e50000;
}
/* order */
.order_details {
  padding: 1.2em;
}
.order_details .qr_code {
  position: absolute;
  right: 1em;
  top: 1em;
}
.order_details_row {
  display: table-row;
}
.order_details_row div {
  display: table-cell;
  width: 380px;
  padding: 0.4em;
}
.booking_comment_edit,
.booking_comment_spinner {
  display: none;
}
.order_bookings {
  padding: 0 0.4em 0.4em 0.4em;
}
.order_bookings h3 {
  margin-top: 0.8em;
  margin-bottom: 0.3em;
}
.order_bookings table {
  width: 100%;
  border: #ddd 1px solid;
  border-spacing: 0;
  border-collapse: collapse;
}
.order_bookings table th {
  padding: 5px 3px 5px 1em;
  text-align: left;
  background-color: #fafafa;
  border-right: #ddd 1px solid;
  border-bottom: #ddd 1px solid;
  font-weight: bold;
}
.order_bookings table td {
  padding: 5px 3px 5px 1em;
  border-right: #ddd 1px solid;
}
.order_bookings tr.odd td {
  background-color: #fbfbfb;
}
.order.wrapper form {
  display: table;
  border-spacing: 1em;
}
.order.wrapper form > div {
  display: table-row;
}
.order.wrapper form label {
  display: table-cell;
}
.order.wrapper form div.error,
.order.wrapper form input {
  display: table-cell;
}
.order.wrapper form div.submit label {
  color: transparent;
}
.order.wrapper form div.submit input {
  float: right;
}
/* print styles */
@media print {
  /* rules for bookingstable  print preview */
  #bookings_wrapper .customfilter label,
  #bookings_wrapper #bdaplonebookings_filter label,
  #bookings_wrapper #bdaplonebookings_length label {
    font-weight: bold;
  }
  #bookings_wrapper .customfilter input,
  #bookings_wrapper #bdaplonebookings_filter input,
  #bookings_wrapper #bdaplonebookings_length select,
  #bookings_wrapper .group_filter select {
    border: none;
    background: transparent;
    margin-left: 3em;
  }
  #bdaplonebookings_wrapper {
    margin-top: 1em;
    margin-bottom: 2.2em;
  }
  #bdaplonebookings_length {
    margin-bottom: 0.8em;
  }
  #bdaplonebookings_length select,
  #bdaplonebookings_filter input {
    font-size: 90%;
  }
  #bdaplonebookings {
    margin-bottom: 1em;
    border: #ddd 1px solid;
  }
  #bdaplonebookings_wrapper div.group_filter {
    margin-left: 3em;
  }
  #bdaplonebookings_wrapper div.group_filter,
  #bdaplonebookings_wrapper div.date_from_filter,
  #bdaplonebookings_wrapper div.date_to_filter {
    float: left;
    margin-right: 3em;
  }
  #bdaplonebookings thead {
    background-color: #fafafa;
  }
  #bdaplonebookings th {
    border-right: #ddd 1px solid;
    border-bottom: #ddd 1px solid;
  }
  #bdaplonebookings th.datarow-actions {
    width: 120px;
  }
  #bdaplonebookings tr.group_email,
  #bdaplonebookings tr.group_buyable {
    background-color: #ddd !important;
  }
  #bdaplonebookings tr.group_email td p,
  #bdaplonebookings tr.group_buyable td p {
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    min-width: 18em;
    width: 18em;
  }
  #bdaplonebookings tr.group_email span,
  #bdaplonebookings tr.group_buyable span {
    min-width: 18em;
    width: 18em;
    float: left;
    margin-left: 7em;
  }
  #bdaplonebookings td {
    padding: 1px 3px 1px 10px;
    border-right: #ddd 1px solid;
  }
  #bdaplonebookings a.contenttype-document {
    border: none !important;
  }
  #bdaplonebookings_paginate {
    display: none;
  }
}
/*# sourceMappingURL=++resource++bda.plone.orders.css.map */
.buyable.viewlet {
  clear: both;
  margin: 1em 0 2em 0;
}
.buyable.viewlet dl.details {
  display: inline-block;
}
.buyable.viewlet dl.details dt,
.buyable.viewlet dl.details dd {
  display: inline-block;
  vertical-align: middle;
}
.buyable.viewlet dl.details dt {
  margin-right: 0.25em;
}
.buyable.viewlet dl.details dd {
  margin-right: 1em;
}
.buyable.viewlet div.availability {
  position: relative;
  vertical-align: middle;
}
.buyable.viewlet div.availability_details {
  z-index: 1000;
  position: absolute;
  top: 2em;
  margin-left: -0.5em;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  padding: 1em;
  min-width: 14em;
  display: none;
}
.buyable.viewlet div.signal {
  vertical-align: sub;
  border: #ccc 1px solid;
  border-radius: 4px;
  width: 1em;
  height: 1em;
  display: inline-block;
}
.buyable.viewlet div.signal.red {
  background-color: red;
}
.buyable.viewlet div.signal.orange {
  background-color: orange;
}
.buyable.viewlet div.signal.yellow {
  background-color: yellow;
}
.buyable.viewlet div.signal.green {
  background-color: green;
}
.portletShopAdmin .portletContent ul {
  padding-top: 0.5em!important;
  padding-bottom: 1em!important;
}
.portletShopAdmin .portletContent ul li a {
  padding: 0.5em 1em 0em 2em!important;
  border: 0!important;
}
/*# sourceMappingURL=++resource++bda.plone.shop.css.map */